footer {
    background: url(../img/footerImg.png), url(../img/footerBackgr.png) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 524px;
    position: relative;
}

.form {
    width: 100%;
    max-width: 770px;
    min-width: 300px;
    height: 450px;
    background-color: #fff;
    position: absolute;
    top: -225px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.form__box {
    width: 100%;
    max-width: 770px;
    min-width: 300px;
    min-height: 450px;
    background-color: #fff;
    position: relative;
    .hr {
        margin-top: 60px;
        background-color: #000;
    }
    .hr + h2 {
        font-size: 44px;
        font-family: ghotamMedium;
        color: #2c4058;
        margin: 30px 0 55px;
    }
}

.form-flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 60px;
}

.form__info{
    max-width: 310px;
    min-height: 200px;
    margin-bottom: 80px;
    display: flex;
    flex-flow: column nowrap;
    
    p {
        line-height: 34px;
        text-align: left;
        font-size: 18px;
        font-family: GhotamBook;
        color: #2c4058;
        margin-bottom: 19px;
    }
    i {
        color: #7e5aff;
        margin-right: 10px;
    }
}

form {
    width: 100%;
    max-width: 310px;
    min-height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin-bottom: 80px;
    z-index: 10;
    
    input {
        width: 100%;
        border:none;
        border-bottom: 1px solid #000;
        padding-bottom: 20px;
        font-size: 18px;
        font-family: GhotamBook;
        color: #2c4058;
        &::placeholder{
            font-size: 18px;
        font-family: GhotamBook;
        color: #2c4058;
        }
        &[type = 'email']{
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }
 button {
     width: 140px;
 }

}

.backgr-absolute {
    width: 100%;
    max-width: 800px;
    min-height:200px ;
    position: absolute;
    background: url(../img/form@2x.png) no-repeat center;
    background-size: cover;
    bottom: 0;
    z-index: 0;
}

.footer-flex-row {
    padding: 60px 0 40px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.vertLine {
    width: 2px;
    height: 20px;
    background-color: #fff;
    opacity: 0.9;
    display: inline-block;
    margin: 0 10px;
}
.copyrights {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    
}

@media (max-width:697px){
    .form-flex-row{
justify-content: center;
    }
}