footer {
    background: url(../img/footerImg.png), url(../img/footerBackgr.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 524px;
    position: relative;
}

.form {
    width: 100%;
    max-width: 770px;
    height: 450px;
    background-color: #fff;
    position: absolute;
    top: -225px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.form__box {
    width: 100%;
    max-width: 770px;
    height: 450px;
    background-color: #fff;
    position: relative;
}

.form-flex-row {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
}

.form__info{
    max-width: 310px;
    min-height: 200px;
    display: flex;
    flex-flow: column nowrap;
    p {
        margin-bottom: 40px;
        text-align: left;
    }
    i {
        color: #7e5aff;
        margin-right: 10px;
    }
}

form {
    width: 100%;
    max-width: 310px;
    min-height: 200px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    z-index: 10;
    
    input {
        width: 100%;
        border:none;
        border-bottom: 1px solid #000;
        padding-bottom: 20px;
        &[type = 'email']{
            padding-top: 40px;
        }
    }
 button {
     width: 140px;
     position: absolute;
     right: 0;
     bottom: 0;
     
 }

}

.backgr-absolute {
    width: 100%;
    max-width: 800px;
    min-height:200px ;
    position: absolute;
    background: url(../img/form@2x.png) no-repeat center;
    background-size: cover;
    bottom: 0;
    z-index: 0;
}

.footer-flex-row {
    padding: 60px 0 40px;
    display: flex;
    justify-content: space-between;
}

.copyrights {
    display: flex;
    justify-content: flex-start;
}