$ghotamBold: gothambold1;
$ghotamBook: GothamBook;
$gothamMedium: gothamMedium;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    position: relative;
}
a,a:hover {
    text-decoration: none;
}
h1,h2,h3 {
    text-transform: uppercase;
}

.wrap {
    width: 74%;
    margin: 0 auto;
    text-align: center;
}
button.main-btn {
    background-color: transparent;
    border: 1px solid #303030;
    text-transform: uppercase;
    height: 50px;
    width: 190px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    transition: .4s box-shadow linear;
    &:hover {
        box-shadow: 0px 0px 10px 5px #303030;
        cursor: pointer;
    }
}

.hr {
    width: 100px;
    height: 2px;
    background-color: #fff;
    opacity: 1;
    display: inline-block;
    margin-top: 100px;
}
@import 'header';

@import 'whatwedo';

@import 'news';

@import 'gallery';
@import 'map';

@import 'footer';




// Крапки слайдера
